In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Define path
path = r'C:\Users\dolson\OneDrive - BEACON TECHNOLOGIES\Desktop\Instacart Basket Analysis 10.2022'

In [3]:
# Import 'order_products_merged.pkl' from prepared data folder
ords_prods_merge= pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_update.pkl'))

In [4]:
ords_prods_merge.head()

,order_id,user_id,eval_set,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,prior,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,prior,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Average orders
2,473747,1,prior,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Least busy,Most orders
3,2254736,1,prior,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Average orders
4,431534,1,prior,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,both,Mid-range product,Least busy,Least busy,Most orders

In [5]:
ords_prods_merge.shape

(32404859, 20)

In [6]:
#remove non-needed columns: eval_set,_merge column, and busiest day column
ords_prods_merge= ords_prods_merge.drop(columns= ['eval_set', '_merge','busiest_day'])

In [7]:
ords_prods_merge.shape

(32404859, 17)

In [8]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Most orders
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Most orders

In [9]:
#2 Find the mean number of orders by department id for entire dataframe
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#3 Shows means number of orders for all departments for entire dataset.

In [10]:
#4 Creating a loyalty flag for existing customers using the transform() and loc() functions.
# Step one: Create new column with max order
ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10
5,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10

In [12]:
# Step two: Create loyalty flag column based on max order criteria

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'
ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [13]:
ords_prods_merge.shape

(32404859, 19)

In [14]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer
5,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer
6,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer
7,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer
8,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer
9,2550362,1,10,4,8,30.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer
10,2968173,15,15,1,9,7.0,False,196.0,2.0,0.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer
11,1870022,15,17,2,16,8.0,False,196.0,6.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer
12,1911383,15,18,2,11,7.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer
13,2715276,15,21,1,9,7.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer
14,487368,15,22,1,10,14.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer

In [15]:
# Count number of customers by loyalty flag
ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [16]:
#5 Check basis statistics of product prices for each loyalty category
ords_prods_merge.groupby('loyalty_flag').agg({'prices':['mean','min','max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386336  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

The mean prices of products purchased by loyal customers is lower than those compared to those purchased by regular or new customers.

In [17]:
#6 The team now wants to target different types of spenders in their marketing campaigns. This can be achieved by looking at the prices of the items people are buying. 
#Create a spending flag for each user based on the average price across all their orders using the following criteria:
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [18]:
# Target customers based on spending
# Step 1 Create column of mean price by user 
ords_prods_merge['mean_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [19]:
ords_prods_merge.shape

(32404859, 20)

In [20]:
ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,False,196.0,2.0,0.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,False,196.0,6.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,False,196.0,1.0,1.0,Soda,77,7,9.0,Mid-range product,Busiest days,Most orders,22,Regular customer,3.980556

In [21]:
# Step 2 Assign spending flag based on average price
ords_prods_merge.loc[ords_prods_merge['mean_order']<10, 'spending_flag'] = 'Low spender'
ords_prods_merge.loc[ords_prods_merge['mean_order']>=10, 'spending_flag'] = 'High spender'

In [22]:
ords_prods_merge['spending_flag'].value_counts(dropna=False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [23]:
ords_prods_merge[['user_id', 'mean_order', 'spending_flag']].head(100)

    user_id  mean_order spending_flag
0         1    6.367797   Low spender
1         1    6.367797   Low spender
2         1    6.367797   Low spender
3         1    6.367797   Low spender
4         1    6.367797   Low spender
..      ...         ...           ...
95      360   10.006250  High spender
96      377    8.496552   Low spender
97      387    7.396610   Low spender
98      420    7.387805   Low spender
99      420    7.387805   Low spender

[100 rows x 3 columns]

In [24]:
#7  Create order frequency flag based on median days since previous order.
# Step 1 Create a new column showing median days since previous order.
ords_prods_merge['median_days_since_previous_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [25]:
ords_prods_merge.shape

(32404859, 22)

In [26]:
ords_prods_merge.head(10)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,department_id,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_order,spending_flag,median_days_since_previous_order
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5
5,3367565,1,6,2,7,19.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5
6,550135,1,7,1,9,20.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
7,3108588,1,8,1,14,14.0,False,196.0,2.0,1.0,...,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
8,2295261,1,9,1,16,0.0,False,196.0,4.0,1.0,...,7,9.0,Mid-range product,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.5
9,2550362,1,10,4,8,30.0,False,196.0,1.0,1.0,...,7,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5

In [27]:
# Step 2 Assign frequency flag based on median days since previous order
ords_prods_merge.loc[ords_prods_merge['median_days_since_previous_order']>20, 'Frequency_flag'] = 'Non-frequent customer'
ords_prods_merge.loc[(ords_prods_merge['median_days_since_previous_order']>10) & (ords_prods_merge['median_days_since_previous_order']<=20), 'Frequency_flag'] = 'Regular customer'
ords_prods_merge.loc[ords_prods_merge['median_days_since_previous_order']<=10, 'Frequency_flag'] = 'Frequent customer'

In [28]:
ords_prods_merge.shape

(32404859, 23)

In [29]:
ords_prods_merge['Frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: Frequency_flag, dtype: int64

In [30]:
# Renaming mean_order column to mean_price to make it easier to understand
ords_prods_merge.rename(columns = {'mean_order':'mean_price'}, inplace = True)

In [31]:
ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,...,prices,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spending_flag,median_days_since_previous_order,Frequency_flag
0,2539329,1,1,2,8,NaN,True,196.0,1.0,0.0,...,9.0,Mid-range product,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
1,2398795,1,2,3,7,15.0,False,196.0,1.0,1.0,...,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
2,473747,1,3,3,12,21.0,False,196.0,1.0,1.0,...,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
3,2254736,1,4,4,7,29.0,False,196.0,1.0,1.0,...,9.0,Mid-range product,Least busy,Average orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer
4,431534,1,5,4,15,28.0,False,196.0,1.0,1.0,...,9.0,Mid-range product,Least busy,Most orders,10,New customer,6.367797,Low spender,20.5,Non-frequent customer

In [33]:
# Export new file as pkl
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_flags.pkl'))